@charset "UTF-8";

/***** Section, ícones relevantes *****/
.relevant-icon {
    box-sizing: border-box;
    border: 0px solid yellowgreen;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.rel-infos {
    box-sizing: border-box;
    border: 0px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center; 
}

.rel-infos .fa {
    box-sizing: border-box;
    border: 0px solid greenyellow;
    color: #d2aa70;
    font-size: 3rem;
    margin: 5px;
    padding: 0;
    cursor: context-menu;
}

#fa-carro, #fa-id {
    font-size: 2.7rem;
}

.rel-p {
    box-sizing: border-box;
    border: 0px solid black;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 
        Georgia, 
        'Times New Roman', Times, serif;
    font-weight: normal;
    font-variant: normal;
    text-align: left;
    color: #05243a;
    margin: 0;
    padding: 0;
    cursor: text;
}

/* RECURSIVIDADE SEÇÃO ÍCONES RELEVANTES */
@media only screen and (max-width: 1062px) {
    .rel-infos {
        width: 50%;
    }
}

@media only screen and (max-width: 668px) {
    .rel-infos {
        margin: auto;
        width: 350px;
        justify-content: space-around;
    }

    .rel-infos .fa {
        margin: 5px;
        margin-right: 5px;
    }

    .rel-p {
        width: 250px;
    }
}

@media only screen and (max-width: 370px) {
    .rel-infos {
        width: 250px;
        margin-bottom: 5px;
    }

    .rel-p {
        text-align: center;
    }

}