@charset "UTF-8";

/* Section Principais Ferramentas */
.principais-ferramentas {
    box-sizing: border-box;
    border: 0px solid yellowgreen;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-start;
}

.pf-h1 {
    box-sizing: border-box;
    font-size: 2.5rem;
    color: #05243a;
    font-family: 
        'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 0;
}

.pf-p {
    box-sizing: border-box;
    border: 0px solid black;
    text-decoration: none;
    font-size: 1.05rem;
    font-family: 
        Georgia, 
        'Times New Roman', Times, serif;
    font-weight: normal;
    font-variant: normal;
    text-align: center;
    line-height: 20px;
    max-width: 600px;
    color: #05243a;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    cursor: text;
}

.pf-container-frames {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0px solid black;
    max-width: 1200px;
    height: auto;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
}

.pf-container-frame-01 {
    box-sizing: border-box;
    border: 2px inset black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    width: 380px;
    height: 280px;
    background-image: 
        url("img/sedan-standart.png");
    background-size: cover;
    margin: 8px;
    padding: 0;
    position: relative;
}

.pf-container-frame-02 {
    box-sizing: border-box;
    border: 2px inset black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    width: 380px;
    height: 280px;
    background-image: 
        url("img/sedan-executivo.png");
    background-size: cover;
    margin: 8px;
    padding: 0;
    position: relative;
}

.pf-container-frame-03 {
    box-sizing: border-box;
    border: 2px inset black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    width: 380px;
    height: 280px;
    background-image: 
        url("img/sedan-luxo.png");
    background-size: cover;
    margin: 8px;
    padding: 0;
    position: relative;
}

.pf-container-frame-04 {
    box-sizing: border-box;
    border: 2px inset black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    width: 380px;
    height: 280px;
    background-image: 
        url("img/sedan-blindado.png");
    background-size: cover;
    margin: 8px;
    padding: 0;
    position: relative;
}

.pf-container-frame-05 {
    box-sizing: border-box;
    border: 2px inset black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    width: 380px;
    height: 280px;
    background-image: 
        url("img/SUV-executivo.png");
    background-size: cover;
    margin: 8px;
    padding: 0;
    position: relative;
}

.pf-container-frame-06 {
    box-sizing: border-box;
    border: 2px inset black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    width: 380px;
    height: 280px;
    background-image: 
        url("img/van.png");
    background-size: cover;
    margin: 8px;
    padding: 0;
    position: relative;
}

.pf-container-frame-p {
    box-sizing: border-box;
    border: 1px solid white;
    border-left: none;
    border-right: none;
    background-color: #05243a;
    color: white;
    font-weight: bold;
    font-family: 
        Georgia, 
        'Times New Roman', Times, serif;
    font-size: 1rem;
    text-align: left;
    width: 100%;
    height: auto;
    min-height: 25px;
    letter-spacing: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    padding-left: 5px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

/* RECURSIVIDADE PRINCIPAIS FERRAMENTAS */
@media only screen and (max-width: 412px) {
    .pf-container-frame-01 {
        width: 280px;
        height: 180px;
    }  
    
    .pf-container-frame-02 {
        width: 280px;
        height: 180px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;
    }   

    .pf-container-frame-03 {
        width: 280px;
        height: 180px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }  
    
    .pf-container-frame-04 {
        width: 280px;
        height: 180px;
    }  
    
    .pf-container-frame-05 {
        width: 280px;
        height: 180px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    } 

    .pf-container-frame-06 {
        width: 280px;
        height: 180px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    } 
}