@charset "UTF-8";

/* Section Agendamento */
.section-agendamento {
    box-sizing: border-box;
    border: 0px solid yellowgreen;
    margin: 0;
    margin-top: 80px;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    background-image: 
        url("img/agendamento.png");
    background-size: cover;
}

.sa-h1 {
    box-sizing: border-box;
    font-size: 3.5rem;
    color: white;
    font-family: 
        'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 0;
}

.sa-h2 {
    box-sizing: border-box;
    font-size: 1.5rem;
    color: white;
    font-family: 
        Georgia, 
        'Times New Roman', Times, serif;
    font-weight: normal;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}

.sa-btn {
    box-sizing: border-box;
    color: white;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.875rem;
    letter-spacing: 2px;
    width: 260px;
    height: 33px;
    border-radius: 20px;
    border: 1px solid dimgray;
    background: 
        linear-gradient(
            to right, 
            #635648 3%, 
            #c69f68 25%,
            #d8ae72 100%);
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: transform 0.8s ease;
    cursor: pointer;
}

.sa-btn:hover {
    background:
        linear-gradient(
            to right, 
            #d8ae72 3%, 
            #c69f68 75%,
            #635648 100%);
    border: 1px solid white;
    transition-duration: 0.8s;
}