@charset "UTF-8";

.sa-h1 {
    box-sizing: border-box;
    border: 0px solid black;
    font-size: 2.5rem;
    color: #05243a;
    font-family: 
        'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0;
}

.sa-p {
    box-sizing: border-box;
    border: 0px solid black;
    text-decoration: none;
    font-size: 1.05rem;
    font-family: 
        Georgia, 
        'Times New Roman', Times, serif;
    font-weight: normal;
    font-variant: normal;
    text-align: center;
    line-height: 20px;
    max-width: 420px;
    color: #05243a;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    cursor: text;
}

.sa-p-infos {
    box-sizing: border-box;
    border: 0px solid black;
    text-decoration: none;
    font-size: 1.05rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-variant: normal;
    text-align: center;
    line-height: 20px;
    max-width: 420px;
    color: #05243a;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    cursor: text;
}

.aba-sa-btn {
    box-sizing: border-box;
    color: white;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.875rem;
    letter-spacing: 2px;
    width: 260px;
    height: 33px;
    border-radius: 20px;
    border: 1px solid dimgray;
    background: #05243a;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 30px;
    margin-bottom: 50px;
    transition-duration: 0.8s;
}

.aba-sa-btn:hover {
    color: #d8ae72;
    background: #05243a;
    transition-duration: 0.8s;
    border: 1px solid black;
    cursor: pointer;
}