@charset "UTF-8";

/* IFRAME BODY SETTINGS */
body {
    box-sizing: border-box;
    border: 0px solid black;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto; 
    align-items: center; /*Horizontal*/
    justify-content: flex-start;
}



/* SEÇÃO DE APRESENTAÇÃO */
.apresentação-principal {
    box-sizing: border-box;
    border: 0px solid yellowgreen;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.ap-h1 {
    box-sizing: border-box;
    font-size: 2.5rem;
    color: #05243a;
    text-align: center;
    font-family: 
        'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 0;
}

.ap-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0px solid black;
    max-width: 850px;
    height: auto;
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
}

.ap-img {
    box-sizing: border-box;
    border: 0px inset black;
    text-decoration: none;
    width: 300px;
    height: 252px;
    margin: 0;
    padding: 0;
}

.ap-container-p {
    box-sizing: border-box;
    border: 0px solid black;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 
        Georgia, 
        'Times New Roman', Times, serif;
    font-weight: normal;
    font-variant: normal;
    text-align: justify;
    line-height: 25px;
    max-width: 500px;
    color: #05243a;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    cursor: text;
}

.ap-container-p-bottom {
    box-sizing: border-box;
    border: 0px solid black;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 
        Georgia, 
        'Times New Roman', Times, serif;
    font-weight: normal;
    font-variant: normal;
    text-align: justify;
    align-self: center;
    line-height: 25px;
    max-width: 700px;
    color: #05243a;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    cursor: text;
}

/* RECURSIVIDADE APRESENTAÇÃO */
@media only screen and (max-width: 828px) {
    .ap-container-img {
        margin-bottom: 25px;
    }

    .ap-container {
        height: auto;
        margin-left: 0;
    }

    .ap-container-p {
        max-width: 700px;
        margin-left: 0;
        padding-left: 5px;
        padding-right: 5px;
    }

    .ap-container-p-bottom {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 321px) {
    .ap-img {
        width: 280px;
        height: 180px;
    }
}



/* SEÇÃO MARKETING */
.apresentação-marketing {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #05243a;
    border: 0px solid yellowgreen;
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.am-h1 {
    box-sizing: border-box;
    font-size: 2.5rem;
    color: white;
    font-family: 
        'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 0;
}

.am-img {
    box-sizing: border-box;
    border: 0px inset black;
    text-decoration: none;
    width: 300px;
    height: 252px;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
}

.am-h2 {
    box-sizing: border-box;
    font-size: 1.5rem;
    color: white;
    font-family: 
        Georgia, 
        'Times New Roman', Times, serif;
    font-weight: normal;
    line-height: 30px;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
}

.am-btn {
    box-sizing: border-box;
    color: white;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.875rem;
    letter-spacing: 2px;
    width: 260px;
    height: 33px;
    border-radius: 20px;
    border: 1px solid dimgray;
    background: 
        linear-gradient(
            to right, 
            #635648 3%, 
            #c69f68 25%,
            #d8ae72 100%);
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: 0;
    margin-bottom: 80px;
    transition: transform 0.8s ease;
    cursor: pointer;
}

.am-btn:hover {
    background:
        linear-gradient(
            to right, 
            #d8ae72 3%, 
            #c69f68 75%,
            #635648 100%);
    border: 1px solid white;
    transition-duration: 0.8s;
}

/* RECURSIVIDADE MARKETING */
@media only screen and (max-width: 321px) {
    .am-img {
        width: 280px;
        height: 180px;
    }   
}



/* SEÇÃO NOSSOS CLIENTES */
.nossos-clientes {
    box-sizing: border-box;
    border: 0px solid yellowgreen;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-start;
}

.nc-h1 {
    box-sizing: border-box;
    font-size: 3rem;
    color: #05243a;
    font-family: 
        'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 0;
}

.nc-container-01-frames {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0px solid black;
    max-width: 1250px;
    height: auto;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
}

.nc-img {
    box-sizing: border-box;
    border: 0px inset black;
    text-decoration: none;
    width: 280px;
    height: 110px;
    margin: 8px;
    padding: 0;
}

.nc-container-02-dots {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0px solid black;
    max-width: 250px;
    height: auto;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
}

.nc-container-02-dot-01 {
    box-sizing: border-box;
    border: 0px solid black;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: 
        Georgia, 
        'Times New Roman', Times, serif;
    font-weight: normal;
    font-variant: normal;
    text-align: center;
    line-height: 20px;
    max-width: 700px;
    color: #05243a;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    cursor: text;
}

/* RECURSIVIDADE CLIENTES */
@media only screen and (max-width: 1202px) {
    .nc-container-01-frames {
        max-width: 850px;
    }
}

