@charset "UTF-8";

/* Configurações Drop Menu */
.navbar-dropdown {
    box-sizing: border-box;
    border: 0px solid red;
    display: inline-block;
    margin: 10px;
    padding: 0;
    position: relative;
    transition-duration: 0.8s;
}

.navbar-dropbtn {
    box-sizing: border-box;
    border: 0px solid white;
    font-size: 0.875rem;
    font-family: inherit;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    margin: 0;
    padding: 10px 15px;
    transition: 
        background-color 0.8s ease;
    cursor: pointer;
}

.navbar-dropbtn:hover {
    background-color: #555;
    color: #d2aa70;
}

.dropdown-content {
    display: block;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    border: 0px solid red;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px 
        rgba(0,0,0,0.2);
    z-index: 9999;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: 
        max-height 0.4s ease-out,
        visibility 0.4s ease,
        opacity 0.4s ease;
    cursor: pointer;
}

.dropdown-content .dropdown-content-text {
    color: #05243a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: inherit;
    font-size: 0.875rem;
    text-transform: uppercase;
    transition: 
        background-color 0.3s ease;
}

.dropdown-content .dropdown-content-text:hover {
    background-color: #05243a !important;
    color: #d2aa70 !important;
}

.navbar-dropdown:hover .dropdown-content {
    max-height: 300px;
    visibility: visible;
    opacity: 1;
}