@charset "UTF-8";

/* IFRAME BODY SETTINGS */
html, body {
    box-sizing: border-box;
    border: 0px solid black;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto; 
    align-items: center; /*Horizontal*/
    justify-content: flex-start;
    overflow-x: hidden;
}