@charset "UTF-8";

/* SEÇÃO DE APRESENTAÇÃO */
.apresentação-principal {
    box-sizing: border-box;
    border: 0px solid yellowgreen;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.ap-h1 {
    box-sizing: border-box;
    font-size: 2.5rem;
    color: #05243a;
    text-align: center;
    font-family: 
        'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 0;
}

.ap-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0px solid black;
    max-width: 850px;
    height: auto;
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
}

.ap-img {
    background-image: 
        url("img/roberto-goncalves.png");
    background-size: 300px 252px;
    box-sizing: border-box;
    border: 0px inset black;
    text-decoration: none;
    width: 300px;
    height: 252px;
    margin: 0;
    padding: 0;
}

.ap-container-p {
    box-sizing: border-box;
    border: 0px solid black;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 
        Georgia, 
        'Times New Roman', Times, serif;
    font-weight: normal;
    font-variant: normal;
    text-align: justify;
    line-height: 25px;
    max-width: 500px;
    color: #05243a;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    cursor: text;
}

.ap-container-p-bottom {
    box-sizing: border-box;
    border: 0px solid black;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 
        Georgia, 
        'Times New Roman', Times, serif;
    font-weight: normal;
    font-variant: normal;
    text-align: justify;
    align-self: center;
    line-height: 25px;
    max-width: 700px;
    color: #05243a;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    cursor: text;
}

/* RECURSIVIDADE APRESENTAÇÃO */
@media only screen and (max-width: 828px) {
    .ap-container-img {
        margin-bottom: 25px;
    }

    .ap-container {
        height: auto;
        margin-left: 0;
    }

    .ap-container-p {
        max-width: 700px;
        margin-left: 0;
        padding-left: 5px;
        padding-right: 5px;
    }

    .ap-container-p-bottom {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 321px) {
    .ap-img {
        width: 280px;
        height: 180px;
    }
}